#products-show .content {
	padding: 33px;
	background-color: $white;

	.image-container {
		text-align: center;
		position: relative;
		width: 100%;
		margin: 0 auto 33px auto;
		
		img {
			margin: auto;
		}
	}

	.text-container {
		width: 100%;

		.name, .benefits {
			text-align: center;
		}

		.name {
			font-size: 48px;
			font-weight: bold;
			margin-bottom: 11px;
		}

		.benefits {
			font-size: 24px;
			font-style: italic;
			margin-bottom: 33px;
		}

		.description {
			margin-bottom: 33px;
		}

		.stat-container {
			display: flex;
			font-size: 20px;
			margin-bottom: 11px;

			.stat {
				margin-right: 5px;
				font-weight: bold;
			}
		}
	}

	&.flower .image-container img:first-of-type {
		width: 70%;
	}

	&.vape .image-container img {
		max-height: 300px;
	}

	@media #{$tablet-small} {

		&.flower .image-container {
			img, img:first-of-type {
				width: 50%;
			}
		}

		&.vape .image-container img {
			max-height: 400px;
		}
	}

	@media #{$tablet-medium} {
		display: flex;

		.image-container {
			margin-bottom: 0;
			width: 45%;
			display: flex;
			align-items: start;
		}
		
		.text-container {
			width: 45%;

			.name, .benefits {
				text-align: left;
			}
		}

		&.vape .image-container {
			justify-content: center;

			img {
				margin: auto 0;
			}
		}
	}
}