@font-face {
  font-family: 'Antenna-Regular';
  src: font-url('Antenna-Regular.eot');
  src: font-url('Antenna-Regular.ttf') format('truetype'),
       font-url('Antenna-Regular.otf') format('otf'),
       font-url('Antenna-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Antenna-Black';
  src: font-url('Antenna-Black.eot');
  src: font-url('Antenna-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Antenna-Medium';
  src: font-url('Antenna-Medium.eot');
  src: font-url('Antenna-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Antenna-Medium-Italic';
  src: font-url('Antenna-Medium-Italic.eot');
  src: font-url('Antenna-Medium-Italic.ttf') format('truetype'),
       font-url('Antenna-Medium-Italic.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};


@font-face {
  font-family: 'Antenna-Regular-Italic';
  src: font-url('Antenna-Regular-Italic.eot');
  src: font-url('Antenna-Regular-Italic.ttf') format('truetype'),
       font-url('Antenna-Regular-Italic.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Throhand-Ink-Italic';
  src: font-url('ThrohInkIta.ttf') format('truetype'),
       font-url('ThrohInkIta.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Throhand-Ink-Italic';
  src: font-url('ThrohInkIta.ttf') format('truetype'),
       font-url('ThrohInkIta.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Throhand-Ink-Italic-Expert';
  src: font-url('ThrohInkItaExp.ttf') format('truetype'),
       font-url('ThrohInkItaExp.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Throhand-Ink-Roman';
  src: font-url('ThrohInkRom.ttf') format('truetype'),
       font-url('ThrohInkRom.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Throhand-Ink-Roman-Expert';
  src: font-url('ThrohInkRomExp.ttf') format('truetype'),
       font-url('ThrohInkRomExp.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Throhand-Pen-Italic';
  src: font-url('ThrohPenIta.ttf') format('truetype'),
       font-url('ThrohPenIta.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Throhand-Pen-Roman';
  src: font-url('ThrohPenRom.ttf') format('truetype'),
       font-url('ThrohPenRom.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Throhand-Regular-Italic';
  src: font-url('ThrohRegIta.ttf') format('truetype'),
       font-url('ThrohRegIta.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Throhand-Regular-Roman';
  src: font-url('ThrohRegRom.ttf') format('truetype'),
       font-url('ThrohRegRom.otf') format('otf');
  font-weight: normal;
  font-style: normal;
};

