//media queries
$tablet-small: "(min-width: 768px)";
$tablet-medium: "(min-width: 992px)";
$tablet-large: "(min-width: 1024px)";
$desktop-small: "(min-width: 1025px)";
$desktop-large: "(min-width: 1200px)";

$mobile-nav-height: 60px;
$desktop-nav-height: 77px;

// colors
$default-border-color: #D6D6D6;
$gray: #EEEEEE;
$dark-gray: #888888;
$white: #FFFFFF;
$light-blue: #5C9EFF;
$blue: #4285F4;
$black: #333333;
$orange: #e36025;
$new-gray: rgb(230, 230, 230);
$red: #A94442;