//media queries
$tablet-small: "(min-width: 768px)";
$tablet-medium: "(min-width: 992px)";
$tablet-large: "(min-width: 1024px)";
$desktop-small: "(min-width: 1025px)";
$desktop-large: "(min-width: 1200px)";

$mobile-nav-height: 60px;
$desktop-nav-height: 77px;

// colors
$default-border-color: #D6D6D6;
$cream: #fffbe5;
$white: #FFFFFF;
$light-blue: #91D9F8;
$blue: #00B0F0;
$black: #333333;
$gray: #e8e8e8;
$tan: #B1A290;
$navy: #34426a;
$transparent-blue: rgba(145, 217, 248, 0.8);
