#footer  {
	background-color: $navy;
	padding: 33px 0 22px 0;
	color: white;
	position: relative;

	// img {
	// 	display: none;
	// 	height: 50px;
	// 	position: absolute;
 //    top: 50%;
 //    transform: translateY(-50%);
	// 	left: 10px;
	// }

	.content-container {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0 auto 22px auto;
		width: 500px;

		a {
			color: $white;
			transition: color 0.3s ease;

			&:hover {
				color: $light-blue;
			}

			&:last-child {
				display: flex;
				align-items: center;
			}
		}

		.contact a {
			text-transform: uppercase;
			font-size: 24px;
		}

		.connect{
			display: flex;

			img {
				width: 50px;
			}

			span {
		    background: $light-blue;
		    color: $white;
		    width: 36px;
		    height: 36px;
		    display: table;
		    text-align: center;
		    border-radius: 5px;
		    transition: color 0.35s ease, background 0.35s ease;
		    cursor: pointer;
		    margin-right: 22px;

		    i {
		    	display: table-cell;
	  	    font-size: 20px;
	        vertical-align: middle;
		    }

		    &:hover {
		    	background: $white;
		    	color: $navy;
		    }
			}
		}
	}

	

	.copyright {
		text-align: center;
		font-size: 12px;
		color: $white;
	}

	@media #{$tablet-small} {

		// img {
		// 	display: block;
		// }
	}
}