#home-container {
	height: 100%;

	h1 {
		font-family: 'Throhand-Regular-Roman';
		margin: 0 0 22px 0;
	}

	.about-images {
		position: fixed;
		height: 100%;
		top: 0;
	  width: 100%;
	  overflow: hidden;

	  img {
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: -10;
	    height: 100%;
	    width: 100%;
	    object-fit: cover;

	    &.active {
	      z-index: 3;
	    }
	  }
	}

	#follow {
		position: fixed;
		top: 65%;
		left: 0;
		right: 0;
		text-align: center;

		i, h1 {
			color: $white;
			text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}

		h1 {
	    line-height: 1.5;
	    font-size: 32px;
	    letter-spacing: 10px;
		}
	}

	.body-container {
		z-index: 55;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		
	  .panel {
	  	max-width: 992px;
	  	background-color: rgba(255,255,255, 0.85);
	  	padding: 22px 33px 80px 33px;
	  	margin: 0 auto 80px auto;

	  	.hw-logo {
	  		height: 100px;
	  		display: block;
	  		margin: 0 auto;
	  	}

	  	.quadrant-container {
	  		padding-bottom: 11px;

	  		.quadrant {
	  			display: block;
	  			margin-bottom: 22px;
	  			position: relative;

	  			.gradient {
	  				position: absolute;
	  				top: 0;
	  				height: 100%;
	  				width: 100%;
	  				background-color: $black;
	  				opacity: 0.3
	  			}

	  			.label {
	  				text-transform: uppercase;
	  				position: absolute;
	  				bottom: 22px;
	  				right: 0;
	  				left: 0;
	  				font-size: 36px;
	  				text-align: center;
	  				color: $white;
	  			}
  			}
	  	}

			h2 {
				text-align: center;
				font-size: 36px;
				text-transform: uppercase
			}

		  .text-block {
		  	max-width: 800px;
		  	margin: 0 auto;
		  	font-size: 18px;
		  	padding-bottom: 22px;
		  	text-align: justify;
		  }

		  .button-container {
        text-align: center;

		  	a {
		  		margin-top: 44px;
					padding: 1.2em;
  		  }
		  } 
	  }
	}

	@media #{$tablet-small} {

		#follow {
			top: 65%;

			i {
				font-size: 30px;
			}

			h1 {
				line-height: inherit;
		    font-size: 58px;
			}
		}
		
		.body-container {

			.panel {
				padding: 33px 44px 44px 44px;

				.quadrant-container {
					display: flex;
					flex-wrap: wrap;
					margin-top: 33px;

					.quadrant {
						margin-bottom: 22px;
						overflow: hidden;
						flex-basis: 50%;
						position: relative;

						.label {
							font-size: 48px;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: all 0.3s ease
						}

						&:nth-child(odd) {
							border-right: 11px solid transparent;
						}

						&:nth-child(even) {
							border-left: 11px solid transparent;
						}

						&:hover img {
							transform: scale(1.1);
						}
					}
				}

				.text-block {
		      font-size: 22px;
				}

				h2 {
			    font-size: 32px;
			    letter-spacing: 5px;
		      line-height: inherit;
				}
			}
		}
	}

	@media #{$tablet-medium} {

		#follow {
				i {
					font-size: 40px;
				}

				h1 {
					font-size: 72px;
				}
			}

		.body-container {
      border-radius: 5px;

    	.panel {
    		border-radius: 5px;
    	}
		}
	}

	@media #{$desktop-small} {

		#follow h1 {
			font-size: 86px;
		}
	}
}
