#home-container {

	.body-container {
		z-index: 55;
		position: absolute;
		top: 600px;
	  background-color: rgba(255,255,255, 0.85);
	  padding: 80px 0;

		.home-text {
		  width: 80%;
		  margin: 0 auto;

		  .text-block {
		  	padding: 30px;
		  }
		}

		h1 {
	    font-family: 'Throhand-Regular-Roman';
	    font-size: 32px;
	    text-align: center;
	    letter-spacing: 10px;
	    color: $navy;
	    line-height: 1.8;
		}

		.middle-image {
			

			img {
				z-index: 99;
				position: absolute;
		    top: -120px;
				right: 0;
				left: 0;
				margin: 0 auto;
		    width: 200px;
			}
		}

		#footer {
	    bottom: -120px;
		}
	}

	.about-images {
	  position: fixed;
	  top: 0;
	  height: 760px;
	  width: 100%;
	  overflow: hidden;
	  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

	  img {
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: -10;
	    height: 100%;
	    width: 100%;
	    object-fit: cover;

	    &.active {
	      z-index: 3;
	    }
	  }
	}
	
	@media #{$tablet-small} {
		.body-container {
			top: 760px;
			padding: 90px 0;

			h1 {
		    font-size: 58px;
	      line-height: inherit;
			}

			.home-text {

			  .text-block {

			  }
			}

			.middle-image {

				img {
					top: -150px;
			    width: 250px;
				}
			}
		}
	}
}

#subscribe-window {
	display: none;
	background-color: $white;
	position: fixed;
	bottom: 0;
	padding: 22px;
	width: 100%;
	text-align: center;
	z-index: 99;

	.close {
		cursor: pointer;
		position: absolute;
		top: 5px;
		right: 5px;
		border-radius: 5px;
		border: none;
		opacity: 0.4;
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 1;
		}
	}

	#subscribe-form {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-evenly;

		h2 {
			text-transform: uppercase;
			font-family: 'Throhand-Regular-Roman', serif;
			letter-spacing: 2px;
			margin: 0 0 11px 0;
			font-size: 12px;
		}

		.form-fields {
			display: flex;
			align-items: center;

			input {
				display: block;
				font-size: 1em;
				margin: 0 auto;
				padding: 0.35em 0.67861429em;
			}
			
			input[type='email'] {
				border-radius: 0.28571429rem;
				outline: none;
				tap-highlight-color: rgba(255,255,255,0);
				line-height: 1.2142em;
				border: 1px solid rgba(34,36,38,0.15);
				color: rgba(0,0,0,0.87);
				box-shadow: 0em 0em 0em 0em transparent inset;
				transition: color 0.1s ease, border-color 0.1s ease;
				width: 180px;
				margin-right: 11px;

				&:focus {
					border: 1px solid $blue;
				}
			}

			input[type='submit'], button[type='submit'] {
				text-transform: uppercase;
				font-weight: bold;
				background-color: $black;
				color: $white;
				border: none;
				cursor: pointer;
				transition: background-color 0.3s ease;
				padding: 0.6em 1.2em 0.6em;

				&:not(.mobile-button) {
					display: none;
				}

				&:hover {
					box-shadow: $white;
				}
			}
		}
	}

	@media #{$tablet-small} {
		.close {
			padding: 10px;
		}

		#subscribe-form {
			flex-direction: row;

			h2 {
				font-size: 22px;
				margin-bottom: 0;
			}

			.form-fields {

				input[type='email'] { 
					width: 220px;
				}

				input[type='submit'], button[type='submit'] {
					width: 220px;

					&:not(.mobile-button) {
						display: block;
					}

					&.mobile-button {
						display: none;
					}
				}
			}
		}
	}
}


