h1 {
	text-align: center;
	font-family: 'Throhand-Regular-Roman', sans-serif;
}

.home-text {
	background-color: $cream;
  width: 80%;
  margin: 0 auto;

  .text-block {
  	padding: 30px;
  }
}

#subscribe-window {
	background-color: $light-blue;
	position: fixed;
	bottom: 0;
	width: 100%;
}