.debug {
  border: 1px solid red !important;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Antenna-Medium', sans-serif;
}

body {
  color: $black;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

.content-wrapper {
  padding: calc(#{$mobile-nav-height} + 22px) 11px 22px 11px;
  min-height: 100%;

  .hero {
    height: 150px;
    position: relative;

    hr, h1 {
      position: absolute;
    }

    h1 {
      color: $white;
      margin: 0;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  h1 {
    font-family: 'Throhand-Regular-Roman', serif;
    text-align: center;
    letter-spacing: 4px;
    font-size: 32px;
  }

  @media #{$tablet-small} {
    padding: calc(#{$mobile-nav-height} + 22px) 22px 22px 22px;

    .hero {
      height: 200px;
    }

    h1 {
      font-size: 48px;
    }

    hr {
      border-top: 1px solid $white;
      width: 25%;
      top: 45%;

      &:first-of-type {
        left: 7%;
      }

      &:last-of-type {
        right: 7%;
      }
    }
  }

  @media #{$tablet-medium} {
    margin: 0 auto;
    padding-top: calc(#{$desktop-nav-height} + 22px);

    .hero {
      height: 300px;
    }


    h1 {
      font-size: 64px;
    }
  }
}

* {
  box-sizing: border-box;
}

a {
  color: $light-blue;
  text-decoration: none;
}

span {
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button:focus {
  outline: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

hr {
    border: 0;
    border-top: 1px solid #eee;
}

span {
  cursor: default;
}
