#products-index {
	.hero {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://s3-us-west-1.amazonaws.com/headwatersca/images/products.jpg');
		background-size: cover;
	}

  .content-container {
    padding: 22px 11px;
    background-color: $white;

    .menu {
      padding: 22px 0;
      display: flex;
      justify-content: center;

      .item {
        padding: 0 22px;
        font-size: 28px;
        cursor: pointer;

        &:hover, &.active {
          font-weight: bold;
        }
      }
    }
  }

	.products-container {
    display: flex;
    flex-wrap: wrap;

    .column {
      display: inline-block;
      padding: 11px;
      margin-bottom: 44px;
      width: 25%;

     .prod-card {
        overflow: hidden;
        padding: 22px 11px;

        .image-container {
          height: 300px;
          width: 200px;
          margin: 0 auto 22px auto;
          position: relative;

          .overlay {
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
            transition: opacity 0.3s ease;
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .info-container {
          text-align: center;

          .name {
            font-weight: bold;
            margin-bottom: 11px;
          }
        }

        &:hover {
          cursor: pointer;

          .image-container .overlay {
            opacity: 0.2;
          }
        }
      }
    }
	}
}