#products-index {
	.hero {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://s3-us-west-1.amazonaws.com/headwatersca/images/Headwaters-52.jpg');
		background-size: cover;
		margin-bottom: 22px;
	}

	.products-container {
		display: flex;
        justify-content: space-between;
		flex-wrap: wrap;

    .prod-hero {
    	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://s3-us-west-1.amazonaws.com/headwatersca/images/Headwaters-52.jpg');
    	height: 300px;
    	width: 40%;
    	background-size: cover;
    	background-position: center;
    	position: relative;

    	&.flower {
    		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://s3-us-west-1.amazonaws.com/headwatersca/images/IMG_0601.jpg');
    	}

    	&.vape {
    		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://s3-us-west-1.amazonaws.com/headwatersca/images/Headwaters-52.jpg');
    	}

    	h2 {
    		font-size: 48px;
    		text-align: center;
    		letter-spacing: 4px;
    		position: absolute;
    	  color: $white;
    	  margin: 0;
    	  left: 0;
    	  right: 0;
    	  font-family: 'Throhand-Regular-Roman';
    	  top: 50%;
    	  transform: translateY(-50%);
    	}
    }

    .prod-card {
    	overflow: hidden;
    	border-radius: 4px;
    	width: 21%;
    	margin-bottom: 44px;
    	box-shadow: 0 1px 3px rgba(0,0,0,.3);

    	img {
    		height: 200px;
    		display: block;
    	}

    	.info-container {
    		padding: 22px 11px;
    		background-color: $gray;

    		.name {
    			text-align: center;
    			font-weight: bold;
    			margin-bottom: 11px;
    		}

    		.stat-container {
					display: flex;
					margin-bottom: 5px;

					.stat {
						text-transform: capitalize;
						font-weight: bold;
						width: 25%;
					}

					&:last-child {
						margin-bottom: 0;
					}
    		}
    	}
    }
	}
}